/*!*span*!*/
/*!*{*!*/
/*!*    color: #2a8c98;*!*/
/*!*    font-size: 24px;*!*/
/*!*    font-weight: bold;*!*/
/*!*}*!*/


.nav:nth-child(1)
{

    height: 146px;
}

.nav-item > .nav-link
{
    color: black;
}

.nav-item > .btn-info
{
    color: white;
}


.img-block {
    position: relative;
    overflow:hidden;
    height:360px;
}

.img-block .img-responsive {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height: inherit;
    object-fit:cover;
}

/*.back*/
/*{*/
/*    background: linear-gradient(49deg, #2c6c75, #28aec0);*/
/*}*/

/*.labels*/
/*{*/
/*    color: #c8d4d5;*/
/*}*/

/*.input*/
/*{*/
/*    background: #c8d4d5 !important;*/
/*}*/
